@model List<Models.PairMaisonMedicalSpecialite>

@{
    ViewBag.Title = "GetAllMaisonMedicaleWithSpecialiteForMedecin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>GetAllMaisonMedicaleWithSpecialiteForMedecin</h2>

@foreach (var pair in Model)
{
    pair.MaisonMedicale.MaisonMedicale_ID
}

