@if (ViewBag.ErrorMessage != "" && ViewBag.ErrorMessage != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.ErrorMessage
    </div>
    <br />
}
